<div layout="column">
    <div layout="column" layout-gt-md="row">
        <md-card flex-gt-md="50" >
            <md-toolbar class="layout-padding">
                <div class="md-toolbar-tools">
                    <md-icon md-font-set="fa">&#xf041</md-icon>
                    <h2 class="layout-padding"><span>Sites</span></h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-list>
                    <md-list-item ng-click="main.selectSite(site)" class="md-2-line"
                                  ng-class='{ "active": main.selectedSite.id==site.id}' ng-repeat="site in main.sites">
                        <md-icon class="md-avatar" md-font-icon>near_me</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <p>Id: <b>{{site.id}}</b></p>
                            <p>Name: <b>{{site.name}}</b></p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card flex-gt-md="50" ng-if="main.selectedSite">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-icon>video_label</md-icon>
                    <h2 class="layout-padding"><span>Devices on site: {{main.selectedSite.name}}</span></h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-list>
                    <md-list-item class="md-2-line" ng-click="main.selectDevice(device)"
                                  ng-class='{ "active": main.selectedDevice.id==device.id}'
                                  ng-repeat="device in main.selectedSite.devices">
                        <md-icon class="md-avatar">video_label</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <p>Id: <b>{{device.id}}</b></p>
                            <p>Name: <b>{{device.name}}</b></p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" ng-if="main.selectedDevice">
        <md-card flex="100">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-icon>video_label</md-icon>
                    <h2 class="layout-padding"><span>Device: {{main.selectedDevice.name}}</span></h2>
                    <span flex></span>
                    <label><md-icon style="font-size:18px">power_settings_new</md-icon></label>
                    <md-switch ng-model="main.selectedDevice.enabled">{{main.selectedDevice.enabled ? "Enabled" : "Disabled"}}</md-switch>
                </div>
            </md-toolbar>
            <md-content layout-padding>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-icon md-font-set="fa">&#xf031</md-icon>
                        <label>Name</label>
                        <input ng-model="main.selectedDevice.name" ng-disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <md-icon class="md-avatar">video_label</md-icon>
                        <label>Type</label>
                        <input ng-model="main.selectedDevice.type" ng-disabled="true">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-icon>lightbulb_outline</md-icon>
                        <label>Status led</label>
                        <input ng-model="main.selectedDevice.statusled" ng-disabled="true">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-icon>info</md-icon>
                        <label>Id</label>
                        <input ng-model="main.selectedDevice.id" ng-disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <md-icon>access_time</md-icon>
                        <label>Timezone</label>
                        <input ng-model="main.selectedDevice.timezone" ng-disabled="true">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <md-icon>build</md-icon>
                        <label>Version</label>
                        <input ng-model="main.selectedDevice.version" ng-disabled="true">
                    </md-input-container>
                </div>
            </md-content>
        </md-card>
    </div>

</div>
