<md-progress-linear class="sm-progress-bar" md-mode="indeterminate"></md-progress-linear>
<div layout="column" class="fixed-toolbar">
    <md-toolbar id="toolbar" class="md-whiteframe-z1" layout="row">
        <div class="md-toolbar-tools">
            <md-button menu-button class="menu-btn" ng-click="main.toggleSidenav('left')" hide-gt-md=""
                       ng-if="main.isAdmin()">
                <md-icon md-font-icon="material-icons inherit">menu</md-icon>
            </md-button>
            <div>
                <img src="/assets/axis_logo.png" class="logo-name">
            </div>
        </div>

    </md-toolbar>
</div>
